@font-face {
  font-family: 'Abel Pro';
  src: url(./font/AbelPro.ttf);
}

@font-face {
  font-family: 'Abel Pro';
  src: url(./font/AbelPro-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: 'Abel Pro';
}