@font-face {
  font-family: 'Abel Pro';
  src: url(./font/AbelPro.ttf);
}

@font-face {
  font-family: 'Abel Pro';
  src: url(./font/AbelPro-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: 'Lora-Regular';
  src: url(./font/Lora-Regular.ttf);
}

@font-face {
  font-family: 'Lora-Bold';
  src: url(./font/Lora-Bold.ttf);
  font-weight: bold;
}

* {
  font-family: 'Abel Pro';
}
